<div class="footer" id="js-footer">

	<div class="footer__inner">

		<div class="footer">
			<div class="footer__col">

				<div class="footer__logo">
					<a href="/">
						<img src="{{src}}logotype-footer.svg" alt="">
					</a>
					<div class="footer__copyright"> 
						2019 &copy; All right reserved | KitchenMarket
					</div>
				</div>
				<!-- /.footer__logo -->

			</div>
			<!-- /.footer__col -->
			<div class="footer__col">

				{% include 'menu/menu-footer/menu-footer.html' %}

			</div>
			<!-- /.footer__col -->
			<div class="footer__col">

				<div class="footer__block">
					<a href="#" class="footer__link">Политика конфиденциальности</a>
					<a href="#" class="footer__link">Политика cookie</a>
				</div>

			</div>
			<!-- /.footer__col -->
		</div>
		<!-- /.footer__row -->

	</div>
	<!-- /.footer__inner -->

</div>
<!-- /.footer -->
